/*css cho dialog
*/
.m-dialog {
    position: absolute;
    width: 800px;
    height: 600px;
    top: calc(50% - 300px);
    left: calc(50% - 400px);
    background-color: #ffffff;
    border-radius: 5px;
    /*z-index: 1000;*/
}
    /*Khối dialog header*/
    .m-dialog .m-dialog-header {
        display: flex;
        padding: 24px;
    }

        .m-dialog .m-dialog-header .m-dialog-header-title {
            color: #000000;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            align-self: center;
        }

        .m-dialog .m-dialog-header .button-dialog-close {
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #ffffff;
            border: none;
            border-radius: 0 5px 0 0;
        }

.m-dialog-content-title {
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    align-self: center;
    margin-top: 24px;
}
/*Khối dialog body*/
.m-dialog .m-dialog-content {
    padding: 0 24px 24px;
}

    .m-dialog .m-dialog-content .m-dialog-content-top {
        display: flex;
        align-items: center;
    }
/*Css cho img trong dialog*/
.avatar-dialog {
    width: 180px;
    height: 180px;
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    background-image: url('/content/img/default-avatar.jpg');
    background-size: 180px 180px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.m-img-left .text-note-avatar {
    text-align: center;
    font-size: 12px;
}

.m-flex-1 {
    flex: 1;
}

.m-flex-2 {
    flex: 2;
}

.m-flex-3 {
    flex: 3;
}

.m-dialog-left {
    margin-left: 10px;
}

.m-row {
    margin-top: 16px;
}

.m-row-2-input {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.m-label {
    margin-bottom: 4px;
    font-size: 13px;
}

    .m-label .m-label-required {
        color: #ff0000;
    }
/*Css riêng cho phần button trong dialog*/
.m-dialog .m-button-dialog {
    height: 60px;
    width: 100%;
    padding: 10px 0;
    background-color: #E5E5E5;
    box-sizing: border-box;
}

    .m-dialog .m-button-dialog .m-block-button-dialog {
        display: flex;
        align-items: center;
        position: absolute;
        right: 24px;
    }

        .m-dialog .m-button-dialog .m-block-button-dialog .m-button-default {
            margin-left: 16px;
        }

.m-button-default .m-title-button-dialog {
    margin-left: 8px;
}
/*Css cho phần input select trong dialog*/
.m-select-dialog {
    border: 1px solid #bbbbbb;
    padding: 0 4px;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    color: #000000;
    font-size: 13px;
}

    .m-select-dialog:focus {
        outline: none;
        border: 1px solid #019160;
    }
/*Css cho phần input radio trong dialog*/
.m-input-radio-dialog {
    height: 40px;
    display: flex;
    align-items: center;
}

    .m-input-radio-dialog .m-input-gender {
        height: 20px;
        width: 60px;
        margin-right: 16px;
        display: flex;
        align-items: center;
    }

        .m-input-radio-dialog .m-input-gender .m-input-radio {
            height: 20px;
            width: 20px;
            outline: none;
        }

.m-input-radio:checked::before {
    border-color: #019160;
    background-color: #019160;
}

.input-money::placeholder {
    padding-right: 5px;
}

.input-money:before {
    position: absolute;
    top: 0;
    content: "VND";
    left: 5px;
}
